<% if user_signed_in? %>
  <div class="text-center mt-4">
    <h1 class="mt-5 text-center">問題</h1>
    <% @random_studies.each do |study| %>
      <div class= "question_card">
        <div class="panel panel-default">
          <div class="panel-body question_display">
            <h3><%= study.question %></h3>
          </div>
        </div>
        <div class="answer_button">
          <%= link_to '答えを見る', '#', data: { bs_toggle: "modal", bs_target: "#answerModal-#{study.id}" }, class: "btn btn-info" %>
        </div>
      </div>

      <div class="modal fade" id="answerModal-<%= study.id %>" tabindex="-1" aria-labelledby="answerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="answerModalLabel">答え</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h3><%= study.answer %></h3>
              <% if study.img? %>
                <p>
                  <%= image_tag study.img_url(:thumb) %>
                </p>
              <% end %>
            </div>
            <div class="modal-footer">
              <%= link_to "編集", edit_study_path(study), class: "btn btn-warning" %>
              <%= link_to '削除', study, data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: 'btn btn-danger' %>
              <div class= "next_button_modal">
                <%= link_to '詳細', study_path(study), data: { turbo: false }, class: "btn btn-info" %>
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class= "next_button">
      <%= link_to '問題をシャッフルする', studies_path, data: { turbo: false }, class: "btn btn-info" %>

    </div>
  </div>
<% end %>
