<div class="text-center mt-4">
  <div class="container">
    <h2>問題の詳細</h2>
  
    <dl>
      <dt>質問:</dt>
      <dd><%= @study.question %></dd>
    
      <dt>回答:</dt>
      <dd><%= @study.answer %></dd>
    
      <dt>作成日時:</dt>
      <dd><%= @study.created_at.to_formatted_s(:long) %></dd>
    
      <dt>更新日時:</dt>
      <dd><%= @study.updated_at.to_formatted_s(:long) %></dd>
    
      <dt>カテゴリー名:</dt>
      <dd><%= @study.category.category_name %></dd>
    </dl>
  
    <%= link_to '編集', edit_study_path(@study), class: 'btn btn-warning' %>
    <%= link_to '削除', @study, data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: 'btn btn-danger' %>
    <%= link_to '戻る', studies_path, class: 'btn btn-primary' %>
  </div>
 </div>