<div class= "all_quizzes_card">
  <%@studies.each do |study| %>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <%=study.question%>
          <div class= "category_list_card">
            <p><%=study.category.category_name%></p>
          </div>
          <div class="action_buttoms">
            <%= link_to '削除', study, data: { turbo_method: :delete }, class: 'glyphicon glyphicon-trash' %>
            <%= link_to '編集', edit_study_path(study), class: 'glyphicon glyphicon-edit' %>
          </div>
          </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <%=study.answer%>
          </blockquote>
        </div>
      </div>
    </div>
  <% end %>
</div>